<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Kidz Central preschool</title>
    <link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "css/responsive.css" %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="screen" />

  </head>
  <body>
    <h1>Welcome to Kidz Central</h1>
    <img src="{% static "images/logo2.png" %}" alt="Missing">
  </body>
</html>
